<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="styles/index.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
  </head>

  <body>
      <header id="headbg">
    <img src="img/logo-mercado-liebre.svg" alt="Logotipo"/>
    <p class="primDos">Lugar para poner barra de búsqueda</p>
    <p class="primDos">Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li> <a href="*">Ofertas</a></li>
            <li> <a href="*">Tiendas Oficiales</a></li>
            <li> <a href="*">Vender</a></li>
            <li> <a href="*">Ayuda</a></li>
        </br>
            <li> <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li> <a href="*">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
</header>
    <img src="img/img-home-banner.jpg" id="homeBanner">
        </br>
        <section>
            <h1>Basado en tu última visita</h1>
                <article>
                    <img class="prodImage" src="img/img-cafetera-moulinex.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <p class="prodName">Cafetera Moulinex Dolce Gusto</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-macbook-pro-2019.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <p class="prodName">Macbook Pro 2019</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-samsung-galaxy-s10.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">15%OFF</p>
                    <p class="prodName">Teléfono móvil Samsung Galaxy S10</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-tv-samsung-smart.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$34.000</p>
                    <p class="discount">5%OFF</p>
                    <p class="prodName">SmartTV Samsung 43"</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
        </section>
        <section>
            <h1>Ofertas</h1>
                <article>
                    <img class="prodImage" src="img/img-cafetera-moulinex.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <p class="prodName">Cafetera Moulinex Dolce Gusto</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-macbook-pro-2019.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <p class="prodName">Macbook Pro 2019</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-samsung-galaxy-s10.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">15%OFF</p>
                    <p class="prodName">Teléfono móvil Samsung Galaxy S10</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <article>
                    <img class="prodImage" src="img/img-tv-samsung-smart.jpg" alt="No pudimos encontrar tu imagen.">
                </br>
                    <i class="fas fa-truck" id="truck"></i>
                    <p class="price">$34.000</p>
                    <p class="discount">5%OFF</p>
                    <p class="prodName">SmartTV Samsung 43"</p>
                    <p class="descHead">Descripción</p>
                    <p class ="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
        </section>
        <footer>
        </br>
            <i class="fas fa-credit-card" id="footerIcons"></i>
            <p class="ftitle"><b>Pagá con tarjeta o en efectivo</b></p>
            <p class="fanswer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
            efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        </br>
            <i class="fas fa-gift" id="footerIcons"></i>
            <p class ="ftitle"><b>Envío gratis desde los $ 2.500</b></p>
            <p class ="fanswer">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis 
            en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </br>
            <i class="fas fa-user-shield" id="footerIcons"></i>
            <p class="ftitle"><b>Seguridad, de principio a fin</b></p>
            <p class="fanswer">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no 
            puedas hacer porque estás siempre prtegid@.</p>
        </br>
            <p class="fanswer">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

        </footer>
  </body>
</html>
