<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="styles/index.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Mercado Liebre - Creá tu cuenta.</title>
      </head>


<body>
    <header class="headBG">
        <a href="/"><img src="img/logo-mercado-liebre.svg" alt="Logotipo" class="logo"/></a>
        <div> 
            <input type="text" placeholder="Buscá productos, marcas..." class="searchbar">
        </div>
        <p class="primDos">Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="hambContainer">
        <i class="fas fa-bars" id="hambMenu"></i>
        </div>
        <nav class="headerNav">
            <ul>
                <li> <a href="*">Ofertas</a></li>
                <li> <a href="*">Tiendas Oficiales</a></li>
                <li> <a href="*">Vender</a></li>
                <li> <a href="*">Ayuda</a></li>
            </br>
                <li> <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="*">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main >
    <form action="placebo.html" method="POST">
        <p class="registerMain">
            <input type="text" name="name" id="name" placeholder="Nombre y apellido" class="inputStyle">
        </p>
        <p class="registerMain">
            <input type="text" name="username" id="username" placeholder="Nombre de usuari@" class="inputStyle">
        </p>
        <p class="registerMain">
            <input type="email" name="email" id="email" placeholder="Email" class="inputStyle">
        </p>
        <p class="registerMain">
            <input type="date" name="birthDate" id="birthDate" placeholder="Fecha de nacimiento" class="inputStyle">
        </p>
        <p class="registerMain">
            <input type="text" name="address" id="address" placeholder="Domicilio" class="inputStyle">
        </p>
        <section class="radioSection">
        <label for="profileClass" class="interestsLabel">Perfil del usuario:</label>
        <p class="radioText">
        <input type="radio" name="profileClass" value="B" class="radioStyle">Comprador</input>
    </p>
    <p class="radioText">
        <input type="radio" name="profileClass" value="S" class="radioStyle">Vendedor</input>
    </p>
        <p>
            <label for="interests" class="interestsLabel">Seleccioná tus intereses:</label>
        </p>
        <p class="checkboxText">
            <input type="checkbox" name="interests" value="E" class="checkboxStyle">Electro</input>
        </p>
        <p class="checkboxText">
            <input type="checkbox" name="interests" value="M" class="checkboxStyle">Moda</input>
        </p>
        <p class="checkboxText">
            <input type="checkbox" name="interests" value="J" class="checkboxStyle">Hogar</input>
        </p>
        <p class="checkboxText">
            <input type="checkbox" name="interests" value="JU" class="checkboxStyle">Juguetería</input>
        </p>
        <p class="checkboxText">
            <input type="checkbox" name="interests" value="VS" class="checkboxStyle">Vida sana</input>
        </p>
        <p>
            <label for="profilePicture" class="interestsLabel">Seleccioná tu foto de perfil:</label>
        </p>
        <p class="imageText">
            <input type="file" name ="profilePicture"></input>
        </p>   
        <p>
            <label for="password" class="passwordLabel">Elegí tu contraseña:</label>
        </p>
        <p class="passwordText">
            <input type="password" name ="password" class="passwordText" placeholder="Contraseña"></input>
            <input type="password" name ="password" class="passwordText" placeholder="Confirmá tu contraseña"></input>
        </p>
        <p>
            <button type="submit" value="Enviar" class="sendButton">Enviar</button>
        </p>
        <p>
            <button type="reset" value="Borrar" class="resetButton">Borrar</button>
        </p>
    </section>
    </form>
</main>
<footer>
    <article class="footerArticle">
        <i class="fas fa-credit-card" id="footerIcons"></i>
        <p class="ftitle"><b>Pagá con tarjeta o en efectivo</b></p>
        <p class="fanswer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
        efectivoen puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="footerArticle">
        <i class="fas fa-gift" id="footerIcons"></i>
        <p class ="ftitle"><b>Envío gratis desde los $ 2.500</b></p>
        <p class ="fanswer">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis 
        en miles de productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article class="footerArticle">
        <i class="fas fa-user-shield" id="footerIcons"></i>
        <p class="ftitle"><b>Seguridad, de principio a fin</b></p>
        <p class="fanswer">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no 
        puedas hacer porque estás siempre prtegid@.</p>
    </article>
    <div>
        <p class="fanswer">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
    </footer>
</body>
</html>