html * {
  font-family: "Roboto", sans-serif !important;
}
.primDos {
  font-size: 20px;
}
#homeBanner {
  height: 200px;
  width: 970px;
}
.prodImage {
  height: 500px;
  width: 500px;
}
.prodName {
  font-size: 20px;
  font-weight: bold;
}
.price {
  font-size: 18px;
}
.discount {
  font-size: 16px;
  color: #39b54a;
}
.descHead {
  font-size: 14px;
  font-weight: bold;
}
.desc {
  font-size: 12px;
  color: #666;
}
#headbg {
  background-color: #eac926;
}
h1 {
  background-color: #ebebeb;
  font-size: 24px;
}
.ftitle {
  font-size: 16px;
}
.fanswer {
  font-size: 12px;
  color: #666;
}
#truck {
  color: #39b54a;
}
#footerIcons {
  color: #03264c;
}
