* {
  box-sizing: border-box;
}
html * {
  font-family: "Roboto", sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}
.logo {
  width: 50%;
}
.searchbar {
  width: 50%;
  height: 70px;
  padding: 6px;
  border: solid 2px black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 30px;
}
.headerNav {
  visibility: hidden;
}
.hambContainer {
  text-align: center;
}
#hambMenu {
  height: 80px;
  width: 80px;
  background-color: #0044aa;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#hambMenu:hover {
  background-color: #0022aa;
  cursor: pointer;
}
.primDos {
  font-size: 35px;
}
#homeBanner {
  behavior: inherit;
  width: 100%;
}
#basado {
  text-align: center;
  font-size: 45px;
}
.prodDivision {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.prodImage {
  height: 500px;
  width: 500px;
}
.prodName {
  font-size: 20px;
  font-weight: bold;
}
.price {
  font-size: 18px;
}
.discount {
  font-size: 16px;
  color: #39b54a;
}
.descHead {
  font-size: 14px;
  font-weight: bold;
}
.desc {
  font-size: 12px;
  color: #666;
}
.headBG {
  background-color: #eac926;
  height: 100%;
  margin: 0;
}
h1 {
  background-color: #ebebeb;
  font-size: 24px;
}
h2 {
  font-size: 17px;
}
.ftitle {
  font-size: 16px;
}
.fanswer {
  font-size: 12px;
  color: #666;
}
#truck {
  color: #39b54a;
}
#footerIcons {
  color: #03264c;
}
.interesesLabel {
  font-size: 17px;
}
.inputStyle {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.checkboxStyle {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
}
.checkboxText {
  font-size: 30px;
}
.radioStyle {
  height: 40px;
  width: 40px;
}
.radioText {
  font-size: 40px;
}
.passwordText {
  width: 300px;
  font-size: 23px;
}
.passwordLabel {
  font-size: 10px;
}
.sendButton {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #0044aa;
  color: white;
  padding: 15px;
  font-size: 20px;
}
.resetButton {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #aa0044;
  color: white;
  padding: 15px;
  font-size: 20px;
}
footer {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.footerArticle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.registerMain {
  background-color: white;
}
.radioSection {
  background-color: white;
}
.resetButton:hover {
  background-color: #cc1155;
}
.sendButton:hover {
  background-color: #0022aa;
}
